<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }

    .login-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 300px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    .input-group input {
        width: calc(100% - 30px); 
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: calc(100% - 10px);
        padding: 10px 20px;
        background-color: #4285f4;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #357ae8;
    }

    .register-link {
        text-align: center;
        margin-top: 10px;
    }

    .register-link a {
        color: #4285f4;
        text-decoration: none;
    }

    .register-link a:hover {
        text-decoration: underline;
    }
    .back-to-home {
        position: fixed;
        top: 155px;
        left: 560px;
        color: #333;
        font-size: 38px;
        text-decoration: none;
    }
    </style>
</head>
<body>
    <a href="/" class="back-to-home">←</a>
    <div class="login-container">
        <form action="/login" method="POST" class="login-form">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" class="login-input" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" class="login-input" required>
            </div>
            <button type="submit" class="login-button">Login</button>
            <br>
            <b><p class="register-link">Don't have an account? <a href="/register">Register</a></p></b>
        </form>
    </div>
</body>
</html>
